## AWS KEYS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-2
### AWS SESSION TOKEN
# AWS_SESSION_TOKEN=  # Only use when required for temporary credentials
## DEEPGRAM
DEEPGRAM_API_KEY=