## AWS KEYS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-2


# Deepgram
DEEPGRAM_API_KEY=

# OpenAI
OPENAI_API_KEY=your_key_here

# Groq
GROQ_API_KEY=your_key_here

# ElevenLabs
ELEVENLABS_API_KEY=your_key_here

# Speechmatics
SPEECHMATICS_API_KEY=your_key_here

# AssemblyAI
ASSEMBLYAI_API_KEY=your_key_here

# Gladia
GLADIA_API_KEY=your_key_here

# Cartesia
CARTESIA_API_KEY=your_key_here

# Fish Audio
FISH_AUDIO_API_KEY=your_key_here

# LMNT
LMNT_API_KEY=your_key_here

# NVIDIA Riva
NVIDIA_API_KEY=your_key_here
NVIDIA_RIVA_SERVER=your_ip_address_here

# PlayHT
PLAYHT_API_KEY=your_key_here

# Rime
RIME_API_KEY=your_key_here

