fastapi
uvicorn
python-dotenv
pipecat-ai[aws,webrtc,deepgram,local-smart-turn-v3,nvidia,cartesia,groq]
pipecat-ai-small-webrtc-prebuilt
pipecat-ai-whisker
strands-agents
soundfile
jiwer
datasets
torchaudio
librosa
matplotlib
pytest
pytest-asyncio
livekit-plugins-nvidia
openai-whisper
faster-whisper
